In [419]:
import pandas as pd

In [420]:
df = pd.read_csv("Student_performance_data _.csv")
df

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [421]:
df.head(10)

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
5,1006,18,0,0,1,8.191219,0,0,1,1,0,0,0,3.084184,1.0
6,1007,15,0,1,1,15.601680,10,0,3,0,1,0,0,2.748237,2.0
7,1008,15,1,1,4,15.424496,22,1,1,1,0,0,0,1.360143,4.0
8,1009,17,0,0,0,4.562008,1,0,2,0,1,0,1,2.896819,2.0
9,1010,16,1,0,1,18.444466,0,0,3,1,0,0,0,3.573474,0.0

In [422]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StudentID          2392 non-null   int64
 1   Age                2392 non-null   int64
 2   Gender             2392 non-null   int64
 3   Ethnicity          2392 non-null   int64
 4   ParentalEducation  2392 non-null   int64
 5   StudyTimeWeekly    2392 non-null   float64
 6   Absences           2392 non-null   int64
 7   Tutoring           2392 non-null   int64
 8   ParentalSupport    2392 non-null   int64
 9   Extracurricular    2392 non-null   int64
 10  Sports             2392 non-null   int64
 11  Music              2392 non-null   int64
 12  Volunteering       2392 non-null   int64
 13  GPA                2392 non-null   float64
 14  GradeClass         2392 non-null   float64
dtypes: float64(3), int64(12)
memory usage: 280.4 KB

Gender of the students, where 0 represents Male and 1 represents Female. (from the dataset)

In [423]:
df['Gender_not_coded'] = df['Gender'].replace({0: 'Male', 1: 'Female'})

The ethnicity of the students, coded as follows:
0: Caucasian
1: African American
2: Asian
3: Other
(from the dataset)

In [424]:
df['Ethnicity_not_coded'] = df['Ethnicity'].replace({0: 'Caucasian', 1: 'African American',2:"Asian",3:"Other"})

ParentalEducation: The education level of the parents, coded as follows:
0: None
1: High School
2: Some College
3: Bachelor's
4: Higher
(From the dataset)

In [425]:
df['ParentalEducation_not_coded'] = df['ParentalEducation'].replace({0: 'None', 1: 'High School',2:"Some College",3:"Bachelor's",4: "Higher"})

In [426]:
df['ParentalEducation_not_coded'] = df['ParentalEducation'].replace({0: 'None', 1: 'High School',2:"Some College",3:"Bachelor's",4: "Higher"})

Tutoring status, where 0 indicates No and 1 indicates Yes.
(from the dataset)

In [427]:
df['Tutoring_not_coded'] = df['Tutoring'].replace({0: 'No', 1: 'Yes'})

ParentalSupport: The level of parental support, coded as follows:
0: None
1: Low
2: Moderate
3: High
4: Very High
(from the dataset)

In [428]:
df['ParentalSupport_not_coded'] = df['ParentalSupport'].replace({0: 'None', 1: 'Low',2:"Moderate",3:"High",4: "Very High"})

##### Etracurricular: Participation in extracurricular activities, where 0 indicates No and 1 indicates Yes.
##### Sports: Participation in sports, where 0 indicates No and 1 indicates Yes.
##### Music: Participation in music activities, where 0 indicates No and 1 indicates Yes.
##### Volunteering: Participation in volunteering, where 0 indicates No and 1 indicates Yes.

In [429]:
df['Extracurricular_not_coded'] = df['Extracurricular'].replace({0: 'NO', 1: 'Yes'})
df['Sports_not_coded'] = df['Sports'].replace({0: 'NO', 1: 'Yes'})
df['Music_not_coded'] = df['Music'].replace({0: 'NO', 1: 'Yes'})
df['Volunteering_not_coded'] = df['Volunteering'].replace({0: 'NO', 1: 'Yes'})

In [430]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   StudentID                    2392 non-null   int64
 1   Age                          2392 non-null   int64
 2   Gender                       2392 non-null   int64
 3   Ethnicity                    2392 non-null   int64
 4   ParentalEducation            2392 non-null   int64
 5   StudyTimeWeekly              2392 non-null   float64
 6   Absences                     2392 non-null   int64
 7   Tutoring                     2392 non-null   int64
 8   ParentalSupport              2392 non-null   int64
 9   Extracurricular              2392 non-null   int64
 10  Sports                       2392 non-null   int64
 11  Music                        2392 non-null   int64
 12  Volunteering                 2392 non-null   int64
 13  GPA                          2392 non-null   float64
 14  GradeClass                   2392 non-null   float64
 15  Gender_not_coded             2392 non-null   object
 16  Ethnicity_not_coded          2392 non-null   object
 17  ParentalEducation_not_coded  2392 non-null   object
 18  Tutoring_not_coded           2392 non-null   object
 19  ParentalSupport_not_coded    2392 non-null   object
 20  Extracurricular_not_coded    2392 non-null   object
 21  Sports_not_coded             2392 non-null   object
 22  Music_not_coded              2392 non-null   object
 23  Volunteering_not_coded       2392 non-null   object
dtypes: float64(3), int64(12), object(9)
memory usage: 448.6+ KB

#### change column names to lower case

In [431]:
columns  = df.columns.to_list()

In [432]:
for i in range(len(columns)):
    columns[i] = columns[i].lower()

In [433]:
df.columns = columns

### Describe numerical data

In [434]:
df.describe()

,studentid,age,gender,ethnicity,parentaleducation,studytimeweekly,absences,tutoring,parentalsupport,extracurricular,sports,music,volunteering,gpa,gradeclass
count,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000
mean,2196.500000,16.468645,0.510870,0.877508,1.746237,9.771992,14.541388,0.301421,2.122074,0.383361,0.303512,0.196906,0.157191,1.906186,2.983696
std,690.655244,1.123798,0.499986,1.028476,1.000411,5.652774,8.467417,0.458971,1.122813,0.486307,0.459870,0.397744,0.364057,0.915156,1.233908
min,1001.000000,15.000000,0.000000,0.000000,0.000000,0.001057,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1598.750000,15.000000,0.000000,0.000000,1.000000,5.043079,7.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.174803,2.000000
50%,2196.500000,16.000000,1.000000,0.000000,2.000000,9.705363,15.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.893393,4.000000
75%,2794.250000,17.000000,1.000000,2.000000,2.000000,14.408410,22.000000,1.000000,3.000000,1.000000,1.000000,0.000000,0.000000,2.622216,4.000000
max,3392.000000,18.000000,1.000000,3.000000,4.000000,19.978094,29.000000,1.000000,4.000000,1.000000,1.000000,1.000000,1.000000,4.000000,4.000000


### describe categorical data

In [435]:
df.describe(include="object")

,gender_not_coded,ethnicity_not_coded,parentaleducation_not_coded,tutoring_not_coded,parentalsupport_not_coded,extracurricular_not_coded,sports_not_coded,music_not_coded,volunteering_not_coded
count,2392,2392,2392,2392,2392,2392,2392,2392,2392
unique,2,4,5,2,5,2,2,2,2
top,Female,Caucasian,Some College,No,Moderate,NO,NO,NO,NO
freq,1222,1207,934,1671,740,1475,1666,1921,2016

In [436]:
categorical_columns = df.select_dtypes("object").columns

categorical_columns

Index(['gender_not_coded', 'ethnicity_not_coded',
       'parentaleducation_not_coded', 'tutoring_not_coded',
       'parentalsupport_not_coded', 'extracurricular_not_coded',
       'sports_not_coded', 'music_not_coded', 'volunteering_not_coded'],
      dtype='object')

In [437]:
for col in categorical_columns:
    print(f"column {col}")
    print(df[col].unique())
    print(df[col].value_counts())
    print(df[col].nunique())
    print("*"*50)
    print("\n\n")

column gender_not_coded
['Female' 'Male']
gender_not_coded
Female    1222
Male      1170
Name: count, dtype: int64
2
**************************************************



column ethnicity_not_coded
['Caucasian' 'Asian' 'African American' 'Other']
ethnicity_not_coded
Caucasian           1207
African American     493
Asian                470
Other                222
Name: count, dtype: int64
4
**************************************************



column parentaleducation_not_coded
['Some College' 'High School' "Bachelor's" 'Higher' 'None']
parentaleducation_not_coded
Some College    934
High School     728
Bachelor's      367
None            243
Higher          120
Name: count, dtype: int64
5
**************************************************



column tutoring_not_coded
['Yes' 'No']
tutoring_not_coded
No     1671
Yes     721
Name: count, dtype: int64
2
**************************************************



column parentalsupport_not_coded
['Moderate' 'Low' 'High' 'Very High' 'None']
parentalsupport_not_coded
Moderate     740
High         697
Low          489
Very High    254
None         212
Name: count, dtype: int64
5
**************************************************



column extracurricular_not_coded
['NO' 'Yes']
extracurricular_not_coded
NO     1475
Yes     917
Name: count, dtype: int64
2
**************************************************



column sports_not_coded
['NO' 'Yes']
sports_not_coded
NO     1666
Yes     726
Name: count, dtype: int64
2
**************************************************



column music_not_coded
['Yes' 'NO']
music_not_coded
NO     1921
Yes     471
Name: count, dtype: int64
2
**************************************************



column volunteering_not_coded
['NO' 'Yes']
volunteering_not_coded
NO     2016
Yes     376
Name: count, dtype: int64
2
**************************************************

In [438]:
df.columns

Index(['studentid', 'age', 'gender', 'ethnicity', 'parentaleducation',
       'studytimeweekly', 'absences', 'tutoring', 'parentalsupport',
       'extracurricular', 'sports', 'music', 'volunteering', 'gpa',
       'gradeclass', 'gender_not_coded', 'ethnicity_not_coded',
       'parentaleducation_not_coded', 'tutoring_not_coded',
       'parentalsupport_not_coded', 'extracurricular_not_coded',
       'sports_not_coded', 'music_not_coded', 'volunteering_not_coded'],
      dtype='object')

## Questions

### 1) does students with fewer absences generally have a higher average GPA?

In [439]:
df.groupby("absences")["gpa"].mean().sort_values(ascending=False).head(5)

absences
0    3.401790
1    3.254577
3    3.092297
2    3.082517
4    2.971374
Name: gpa, dtype: float64

In [440]:
absences_gpa_correlation = df['absences'].corr(df['gpa'])

absences_gpa_correlation

-0.9193135764208641

strong ngative correlation indicates that when absences rate increase the gpa decrease

### 1) students absences > 20

In [441]:
sort_absences = df.sort_values(by="absences",ascending=False)
sort_absences[sort_absences["absences"]>20][["studentid","absences"]]

      studentid  absences
724        1725        29
1499       2500        29
215        1216        29
922        1923        29
1441       2442        29
...         ...       ...
2114       3115        21
1125       2126        21
39         1040        21
597        1598        21
977        1978        21

[701 rows x 2 columns]

conclusion : these students should decrease their absence rate to increase their academic performance

### 2) average study hours by age group

In [442]:
df.groupby("age")["studytimeweekly"].mean().sort_values(ascending=False).tail(10)

age
16    9.852194
15    9.837934
18    9.819003
17    9.573588
Name: studytimeweekly, dtype: float64

In [443]:
df['age'].corr(df['studytimeweekly'])

-0.006800030717475497

conclusion :  age does not appear to have a significant effect on weekly study time.

### 3) Does ethnicity affect GPA

In [444]:
gpa_by_ethnicity = df.groupby('ethnicity_not_coded')['gpa'].mean()
print(gpa_by_ethnicity)

ethnicity_not_coded
African American    1.946437
Asian               1.922125
Caucasian           1.875905
Other               1.947696
Name: gpa, dtype: float64

In [445]:
df['ethnicity'].corr(df['gpa'])

0.02775958377788627

conclusion : ethnicity group does not appear to have a significant effect on gpa.

### 4) Is there relationship between tutoring and gpa

In [446]:
gpa_by_tutoring = df.groupby('tutoring_not_coded')['gpa'].mean()
print(gpa_by_tutoring)

tutoring_not_coded
No     1.818968
Yes    2.108325
Name: gpa, dtype: float64

In [447]:
df['tutoring'].corr(df['gpa'])

0.14511891996780357

conclusion: while there is a slight tendency for students with tutoring to have higher GPAs, the relationship is not very strong.

### 5) Does Sports Involvement affect Academic Performance

In [448]:
gpa_by_sports = df.groupby('sports_not_coded')['gpa'].mean()
print(gpa_by_sports)

sports_not_coded
NO     1.871240
Yes    1.986381
Name: gpa, dtype: float64

In [449]:
df['sports'].corr(df['gpa'])

0.05785908706746861

In [450]:
from scipy.stats import ttest_ind

gpa_sports = df[df['sports_not_coded'] == 'Yes']['gpa']
gpa_no_sports = df[df['sports_not_coded'] == 'NO']['gpa']


t_stat, p_value = ttest_ind(gpa_sports, gpa_no_sports)
print(f"T-statistic: {t_stat}, P-value: {p_value}")

T-statistic: 2.833339948469847, P-value: 0.004645076418989597

conclusion: The analysis indicates that while there is a statistically significant difference in GPA between students who participate in sports and those who do not, the practical significance of this difference is relatively small, and the relation is not strong

### 6) How many students volunteer?

In [451]:
volunteer_counts = df["volunteering_not_coded"] == "Yes"
print(f"the total number of students who volunteer is {volunteer_counts.sum()}")

the total number of students who volunteer is 376

### 7) Does volunteering affect Academic Performance

In [452]:
gpa_by_volunteering = df.groupby('volunteering_not_coded')['gpa'].mean()
print(gpa_by_volunteering)

volunteering_not_coded
NO     1.904899
Yes    1.913089
Name: gpa, dtype: float64

In [453]:
from scipy.stats import ttest_ind


gpa_volunteers = df[df['volunteering_not_coded'] == 'Yes']['gpa']
gpa_non_volunteers = df[df['volunteering_not_coded'] == 'NO']['gpa']

t_stat, p_value = ttest_ind(gpa_volunteers, gpa_non_volunteers)
print(f"T-statistic: {t_stat}, P-value: {p_value}")

T-statistic: 0.1592725304957398, P-value: 0.8734676196675211

Conculsion : While there is a small difference in average GPA, this difference is not large enough to be considered statistically significant based on the t-test results.

### 8) what is the minimum and maximum gpa

In [454]:
minimum = df["gpa"].min()
maximum = df["gpa"].max()
print(f"the minimum gpa is {minimum}")
print(f"the maximum gpa is {maximum}")

the minimum gpa is 0.0
the maximum gpa is 4.0

### 9) Top 10 students per GPA

In [455]:
df.sort_values(by="gpa",ascending=False).head(10)[["studentid","gpa"]]

      studentid       gpa
1705       2706  4.000000
2319       3320  4.000000
1278       2279  4.000000
44         1045  4.000000
2028       3029  4.000000
442        1443  4.000000
1919       2920  4.000000
1260       2261  3.984674
2354       3355  3.979421
1900       2901  3.951460

### 10) How many students have each level of parental support?

In [456]:
parental_support_counts = df['parentalsupport_not_coded'].value_counts()
print(parental_support_counts)

parentalsupport_not_coded
Moderate     740
High         697
Low          489
Very High    254
None         212
Name: count, dtype: int64

### 11) does parental support affect gpa

In [457]:
avg_gpa_by_parentalsupport = df.groupby('parentalsupport_not_coded')['gpa'].mean()
print(avg_gpa_by_parentalsupport)

parentalsupport_not_coded
High         2.042409
Low          1.755700
Moderate     1.884246
None         1.540128
Very High    2.191545
Name: gpa, dtype: float64

In [458]:
df['parentalsupport'].corr(df['gpa'])

0.19077372781932908

conclusion : The analysis suggests that higher levels of parental support are associated with higher GPA. However, the weak correlation implies that parental support is just one of many factors affecting academic performance